{% extends 'base.html.twig' %}

{% block title %}BusinessType{% endblock %}

{% block body %}
    <h1>BusinessType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ business_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ business_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_business_type_index') }}">back to list</a>

    <a href="{{ path('app_business_type_edit', {'id': business_type.id}) }}">edit</a>

    {{ include('business_type/_delete_form.html.twig') }}
{% endblock %}
